html {
  box-sizing: border-box;
  font-family: sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
}

#wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 10% (80% / 5) (80% / 5) (80% / 5) (80% / 5) (80% / 5) 10%;
  justify-items: center;
  align-items: center;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center; */
  height: 100vh;
}

header {
  grid-column: 1 / span 2;
}

h1 {
  margin: 0;
  /* color: #fff; */
}

/* .die {
  flex-basis: 50%;
} */

img {
  height: 80px;
}

#hundred {
  grid-column: 1 / span 2;
}

#roll {
  grid-column: 1 / span 2;

  font-size: 5rem;
  color: lightblue;
}

footer {
  grid-row: 7;
  grid-column: 1 / span 2;
  /* flex-basis: 100%; */
}

footer p {
  margin: 0;
  font-size: 10px;
}

footer p a {
  color: #000;
}
