:root {
  --black: #222;
  --white: #fff;
  --red: red;
  --green: green;
  --grey: #cbcdd1;
}

@mixin btn {
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

html {
  box-sizing: border-box;
  font-family: sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
}

.wrapper {
  background-color: var(--black);
  color: var(--white);

  header {
    background-color: var(--white);
    margin-bottom: 1rem;


    .header-wrapper {
      display: flex;
      color: var(--black);

      .header-left {
        font-size: 90px;
        line-height: 90px;
        flex-basis: 50%;
        text-align: right;
      }
  
      .header-right {
        margin: 1rem 0;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        flex-basis: 50%;
      }
    }
  }

  main {
    height: calc(100vh - 90px - 32px);

    .dice {
      display: grid;
      grid-template-columns: 50% 50%;
      row-gap: 25px;
      .die-card {
        position: relative;
        justify-self: center;

        .plus-btn {
          position: absolute;
          bottom: -5px;
          right: -5px;
          // z-index: 1;
          padding: 10px 15px;
          background-color: var(--green);
          @include btn;
        }

        .plus-btn[data-number="4"] + .die-img {
          background: no-repeat center/90% url("../images/d4.png");
        }
        .plus-btn[data-number="6"] + .die-img {
          background: no-repeat center/90% url("../images/d6.png");
        }
        .plus-btn[data-number="8"] + .die-img {
          background: no-repeat center/90% url("../images/d8.png");
        }
        .plus-btn[data-number="10"] + .die-img {
          background: no-repeat center/90% url("../images/d10.png");
        }
        .plus-btn[data-number="12"] + .die-img {
          background: no-repeat center/90% url("../images/d12.png");
        }
        .plus-btn[data-number="20"] + .die-img {
          background: no-repeat center/90% url("../images/d20.png");
        }
        .plus-btn[data-number="100"] + .die-img {
          background: no-repeat center/90% url("../images/d100.png");
        }

        .die-img {
          height: 80px;
          width: 80px;
          z-index: -1;
        }
      }

      .die-100 {
        grid-column: 1 / span 2;
      }
      // .die-card[data-number="4"] .die-img {
      //   background: no-repeat center/90% url("../images/d4.png");
      // }
      // .die-card[data-number="6"] > .die-img {
      //   background: no-repeat center/90% url("../images/d6.png");
      // }
      // .die-card[data-number="8"] > .die-img {
      //   background: no-repeat center/90% url("../images/d8.png");
      // }
      // .die-card[data-number="10"] > .die-img {
      //   background: no-repeat center/80% url("../images/d10.png");
      // }
      // .die-card[data-number="12"] > .die-img {
      //   background: no-repeat center/90% url("../images/d12.png");
      // }
      // .die-card[data-number="20"] > .die-img {
      //   background: no-repeat center/80% url("../images/d20.png");
      // }

      // .die-card[data-number="100"] {
      //   // grid-column: 1 / span 2;

      //   .die-img {
      //     background: no-repeat center/90% url("../images/d100.png");
      //   }
      // }
    }
    .rolls {
      #multi-rolls {
        height: 20px;
        font-size: 18px;
        text-align: center;
        margin-top: 1rem;
        color: var(--grey);
      }
      .roll-btns-total {
        display: flex;
        justify-content: space-between;
        padding: 1rem 1.25rem;

        .clear-wrapper,
        .roll-wrapper {
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        .clear-wrapper {
          width: 80px;
          height: 80px;
          background: var(--red);
          border-radius: 50%;
          text-align: center;

          #clear-btn {
            @include btn;
            font-size: 3.5rem;
            // padding: 0.5rem 1rem;
            // background-color: var(--red);
            background: transparent;
          }
          p {
            margin-top: 0.3rem;
          }
        }
        #total {
          font-size: 4rem;
          padding-top: 0.7rem;
        }
        .roll-wrapper {

          .roll-wrapper-circle {
            width: 80px;
            height: 80px;
            background: var(--green);
            border-radius: 50%;
            text-align: center;
            
            #roll-btn {
              @include btn;
              // background-color: var(--green);
              // padding: 10px;
              padding-top: 1.4rem;
              position: relative;
              background: transparent;
              border: none;
  
              #roll-btn-amt {
                font-size: 1.5rem;
              }
              #default {
                font-size: 0.7rem;
                font-style: italic;
                // position: absolute;
                // bottom: 0.9rem;
                // left: 25%;
                margin: 0;
              }
            }
            p {
              margin-top: 0.3rem;
            }
          }
         
        }
      }
    }
  }
  footer {
    text-align: center;
    font-size: 14px;
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotating {
  animation: rotating 0.6s linear infinite;
}

.nat-twenty {
  color: var(--green);
}

.nat-one {
  color: var(--red);
}
