:root {
  --black: #000;
  --white: #fff;
  --red: red;
  --green: green;
}

@mixin btn {
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

@mixin multiRollHeight {
  height: 20px;
}

html {
  box-sizing: border-box;
  font-family: sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
}

.wrapper {
  header {
  }

  main {
    .dice {
      display: grid;
      grid-template-columns: 50% 50%;
      row-gap: 25px;
      .die-card {
        position: relative;
        justify-self: center;

        .plus-btn {
          position: absolute;
          bottom: -5px;
          right: -5px;
          // z-index: 1;
          padding: 10px 15px;
          background-color: var(--green);
          @include btn;
        }

        .plus-btn[data-number="4"] + .die-img {
          background: no-repeat center/90% url("../images/d4.png");
        }
        .plus-btn[data-number="6"] + .die-img {
          background: no-repeat center/90% url("../images/d6.png");
        }
        .plus-btn[data-number="8"] + .die-img {
          background: no-repeat center/90% url("../images/d8.png");
        }
        .plus-btn[data-number="10"] + .die-img {
          background: no-repeat center/90% url("../images/d10.png");
        }
        .plus-btn[data-number="12"] + .die-img {
          background: no-repeat center/90% url("../images/d12.png");
        }
        .plus-btn[data-number="20"] + .die-img {
          background: no-repeat center/90% url("../images/d20.png");
        }
        .plus-btn[data-number="100"] + .die-img {
          background: no-repeat center/90% url("../images/d100.png");
        }

        .die-img {
          height: 80px;
          width: 80px;
          z-index: -1;
        }
      }
      // .die-card[data-number="4"] .die-img {
      //   background: no-repeat center/90% url("../images/d4.png");
      // }
      // .die-card[data-number="6"] > .die-img {
      //   background: no-repeat center/90% url("../images/d6.png");
      // }
      // .die-card[data-number="8"] > .die-img {
      //   background: no-repeat center/90% url("../images/d8.png");
      // }
      // .die-card[data-number="10"] > .die-img {
      //   background: no-repeat center/80% url("../images/d10.png");
      // }
      // .die-card[data-number="12"] > .die-img {
      //   background: no-repeat center/90% url("../images/d12.png");
      // }
      // .die-card[data-number="20"] > .die-img {
      //   background: no-repeat center/80% url("../images/d20.png");
      // }

      // .die-card[data-number="100"] {
      //   // grid-column: 1 / span 2;

      //   .die-img {
      //     background: no-repeat center/90% url("../images/d100.png");
      //   }
      // }
    }
    .rolls {
      #multi-rolls {
        @include multiRollHeight();
      }
      .roll-btns-total {
        display: flex;
        .clear-wrapper {
          #clear-btn {
            background-color: var(--red);
            @include btn;
          }
          p {
          }
        }
        .total {
        }
        .roll-wrapper {
          #roll-btn {
            background-color: var(--green);
            @include btn;

            #roll-btn-amt {
            }
            p {
            }
          }
        }
      }
    }
  }
  footer {
  }
}
