.test-wrapper {
  background-color: black;

  .test-card {
    display: flex;
    flex-direction: column;
    align-items: center;

    .test-img {
      height: 50px;
      width: 50px;
    }

    .test-btns-wrapper {
      display: flex;

      .test-btn {
        background-color: green;
        color: white;
        border: none;
      }

      .test-btn-plus {
        border-radius: 25% 0 0 25%;
        cursor: pointer;
      }

      .test-btn-text {
        margin: 0 1px 0 1px;
        padding: 0 4px;
      }

      .test-btn-roll {
        border-radius: 0 25% 25% 0;
        cursor: pointer;
      }
    }
  }
}
